.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3281b1;; /* Azul azul-piscina igual ao da imagem */
    color: white;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Caso queira só branco, ou altere a cor aqui */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    display: flex;
}

.navbar a {
    color: #ffffff; /* Cor preta/escura para os links como na imagem */
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover {
    color: #38b6ff; /* Fica branco ao passar o mouse */
    text-decoration: underline;
    text-decoration-color: aliceblue;
    transition: 0.4s;
}
